.header {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 20px;
}

.title {
  border-bottom: solid 5px;
}

.title h1 {
  font-size: 70px;
  font-weight: 900;
}

.title p {
  font-weight: 300;
  font-size: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  min-height: 40vh; /* Takes most of remaining viewport height */
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 30vh;
  padding: 10px;
  gap: 15px;
}

.reset_btn {
  width: fit-content;
  align-self: center;
  background-color: transparent;
  border: 0;
  margin-top: 20px; 
  padding: 8px 16px;
  cursor: pointer; 
}

.reset_icon {
  width: 30px;
  height: 30px;
  transition: transform 0.9s ease;
}

.reset_btn:hover .reset_icon {
  transform: rotate(360deg); /* Full rotation on hover */
}

